<div class="movie">
    <img class="movie__image" src="<%= movie.cover %>" alt="movie cover">
    <div class="movie__info">
        <h3 class="movie__info__title"><%= movie.title %></h3>
        <div>
            <p class="movie__info__meta">Genre: <a class="a-link" href="/genre/<%= movie.genres[0].genre_name %>"><%= movie.genres[0].genre_name %></a></p>
            <p class="movie__info__meta">Director: <%= movie.director.director_name %></a></p>
            <p class="movie__info__meta">Year: <%= movie.year %></a></p>
        </div>
        <div class="movie__info__syn">
            <%= movie.synopsis.split(" ").slice(0, 30).join(" ") %><span> ... <a href="/movies/<%= movie.title %>" class="a-link">Read more</a></span>
        </div>
    </div>
</div>