<%- include('./partials/sections/header') %> 

<form class="search" method="GET" action="/search">
    <input id="search" type="text" name="q">
    <button type="submit">Search</button>
</form>

<div class="movie-genre">
    <ul class="movie-genre__list">
        <% for (const genre of uniqueGenre) { %>
            <li class="list__genre"><a href="/genre/<%= genre %>"><%= genre %><a></li>
            <% if (uniqueGenre.indexOf(genre) < (uniqueGenre.length - 1)) { %>
                <span class="genre-separator"></span>
            <% } %>
        <% } %>
    </ul>
</div>

<main class="main-home">
    <section class="main-home__new">
        <h3 class="main-h3">In theater</h3>
        <div class="cine-carousel">
            
        </div>

        <h3 class="main-h3">New and upcoming movies</h3>
        <div class="cine-soon">
            <span class="car car-left">&#139</span>
                <% for (const movie of movies) { %>
                    <% if (!movie.released) { %>
                        <div class="cine-soon__movie">
                            <a href=""><img class="cine-soon__movie__img" src="<%= movie.cover %>"></a>
                        </div>
                    <% } %>
                <% } %>
            <span class="car car-right">&#155</span>
        </div>
    </section>
</main>

<%- include('./partials/sections/footer') %> 